* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    position: relative;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

header ul li a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s;
}




.follow-me {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
}
.follow-me li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
}