* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 226, 88, 0.8);
}

header h1 {
    text-align: center;
    position: relative;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

header ul li a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s;
}




.contact .follow-me {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.contact .follow-me li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
    text-align: center;
}
.follow-me li a::before {
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 42px;
    line-height: 42px; 
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 42px;
}
.follow-me li a[href*="twitch.tv"]::before { 
    border-color: #6441a5; 
    background-color: #6441a5; 
    content: "\f1e8"; 
}
.follow-me li a[href*="twitter.com"]::before {
    border-color: #55acee; 
    background-color: #55acee; 
    content: "\f099"; 
}
.follow-me li a:hover::before {
    background-color: #fff;
}
.follow-me li a[href*="twitch.tv"]:hover::before {
    color: #6441a5; 
}
.follow-me li a[href*="twitter.com"]:hover::before {
    color: #55acee; 
}